<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../ejs/partials/_head.ejs', {head: data.head}); %>
</head>

<body>
  <header>
    <%- include('../ejs/partials/_header.ejs', {header: data.header}); %>
  </header>

  <main>
    <div class="l-inner">
      <p class="p-test">index.html</p>
    </div>
  </main>

  <footer>
    <%- include('../ejs/partials/_footer.ejs', {footer: data.footer}); %>
  </footer>
</body>

</html>